body{
    background-color: rgb(13, 16, 22) ;
}
header{
    display: flex;
    justify-content: center;
}
h1{
    color: rgb(0, 0, 0);
    padding: 6px;
    text-align: center;
    background-color: rgb(242, 215, 214);
    border-style: solid;
    border-radius: 25px;
}
table{
    margin: auto;
    background-color: rgb(242, 215, 214) ;
    text-align: center;
    padding: 10px;
    border-color: rgb(242, 215, 214) ;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
}
.encabezado{
    background-color: rgb(58, 71, 98) ;
}
.hora{
    background-color: rgb(58, 71, 98);
}
tr{ 
    padding: 5px;
    color:rgb(242, 215, 214);
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;

}
td{
    padding: 5px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}
th{
    padding: 5px;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;        
}